<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="parentorchild.css">
    <%= stylesheet_link_tag "parentorchild" %>
</head>
<body>
		<p>Are you logging in as a parent or child?</p>
		<a class="btn btn-primary btn-lg" href="http://localhost:3000/debts/new" role="button">Parent</a>
		<a class="btn btn-primary btn-lg" href="login.html" role="button">Child</a>
</body>
</html>